<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">


<menu id="root-menu" label="Openbox 3">

  <separator label="Applications" />
  <item label="xterm" icon="/usr/share/pixmaps/mini.xterm_32x32.xpm" >             
    <action name="Execute">                                
      <command>
        <execute>
          sh -c 'xterm'
        </execute>
      </command>                            
      <startupnotify>
        <enabled>
          yes
        </enabled>
      </startupnotify>
    </action>                                              
  </item> 
  <separator />   

  <item label="APP_NAME" icon="APP_ICON_LOC" >
    <action name="Execute">
      <command>
        <execute>
          sh -c 'APP_COMMAND'
        </execute>
      </command>
      <startupnotify>
        <enabled>
          yes
        </enabled>
      </startupnotify>
    </action>
  </item>
  <separator />

</menu>

</openbox_menu>
